@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barra {
    /* outline: 2px solid red; */
    width: 85%;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background: rgb(255, 255, 255);
    margin: auto;
}

.skills {
    grid-column: 5/6;
}

.nav__link {
    text-decoration: none;
    text-align: center;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

.items {
    text-align: center;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
}

/* PRESENTACIÓN */
.container-presentation {
    /* outline: 2px solid green; */
    width: 85%;
    height: 85vh;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.presentation {
    grid-column: 1/2;
    /* outline: 2px solid rgb(61, 218, 108); */
    width: 80%;
    height: 50%;
    place-self: center;
}

.hi {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-align: center;
    /* padding-top: 30px; */
    color: #6563ff;
    /* outline: 2px solid blue; */
}

.text-frontend {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 8px;
    color: dimgrey;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    padding-top: 15px;
    text-align: justify;
    line-height: 20px;
}

/* IMAGEN */
figure {
    grid-column: 2/3;
    /* outline: 2px solid black; */
    width: 60%;
    height: 60%;
    place-self: center;
}

.img-me {
    /* outline: 2px solid crimson; */
    width: 100%;
    place-self: center;
}

/***************************************************************/
.container {
    /* outline: 2px solid orangered; */
    width: 85%;
    height: 95vh;
    margin: auto;
    margin-top: 20px;
}

.skills-title {
    width: 100%;
}
.c-skills {
    /* outline: 2px solid purple; */
    width: 100%;
    height: 84vh;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 15px;
    font-size: 2.5rem;
    color: #6563ff;
}

.container-skills {
    /* outline: 2px solid red; */
    width: 100%;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.title-name {
    /* outline: 2px solid salmon; */
    color: dimgrey;
    text-align: center;
    padding: 20px 0;
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}

.img-icon-b {
    width: 40%;
    height: 60%;

    /* grid-row: 1/2; */
}
.img-icon {
    width: 80px;
    height: 80px;
}
.img-i {
    /* outline: 2px solid blue; */
    width: 100%;
}

/* frontend developer */
.bv-row {
    grid-row: 1/2;
}
.brackets {
    grid-column: 1/2;
}

.title-frontend {
    grid-column: 2/4;
}

/* designer */
.title-designer {
    grid-column: 7/8;
}
.vector {
    grid-column: 6/7;
}

/* iconos y nombres */
.html,
.js,
.ps,
.ai {
    grid-row: 3/4;
}
.html-name,
.js-name,
.ps-name,
.ai-name {
    grid-row: 4/5;
}
.css,
.git {
    grid-row: 5/6;
}
.css-name,
.git-name {
    grid-row: 6/7;
}
.html,
.html-name,
.css,
.css-name {
    grid-column: 2/3;
}
.js,
.js-name,
.git,
.git-name {
    grid-column: 4/5;
}
.ps,
.ps-name {
    grid-column: 7/8;
}
.ai,
.ai-name {
    grid-column: 9/10;
}

.icon-name {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #292929;
    padding-top: 5px;
}

/* QUALIFICATION */

.qualification {
    padding-bottom: 7px;
}
.journey {
    text-align: center;
    color: #292929;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}
.work-education {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.title-e,
.education1 {
    grid-column: 2/3;
}
.title-w,
.work1 {
    grid-column: 4/5;
}
.artes,
.foto {
    grid-row: 2/3;
}
.uady,
.cabimax {
    grid-row: 4/5;
}
.udemy {
    grid-row: 6/7;
}

h4 {
    text-align: center;
    color: #292929;
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
}
.text-we {
    text-align: center;
    color: #292929;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
}

.year {
    padding-top: 10px;
}

.line {
    background: #6563ff;
    width: 2%;
    height: 80%;
    grid-column: 3/4;
    grid-row: 2/7;
    place-self: center;
}
.clean {
    width: 8%;
    height: 8%;
    grid-column: 3/4;
    place-self: center;
}
.clean-dry {
    width: 100%;
}

.clean1 {
    grid-row: 2/3;
}
.clean2 {
    grid-row: 4/5;
}
.clean3 {
    grid-row: 6/7;
}

/************************************************************/
/** PORTAFOLIO*/

.portfolio-container {
    /* outline: 2px solid red; */
    width: 100%;
    height: 83vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.fig-proyect {
    width: 80%;
    height: 80%;
}

.img-proyect {
    width: 100%;
    object-fit: cover;
}

.name-proyect {
    grid-row: 1/2;
}
.fig-proyect {
    grid-row: 2/3;
}

.name-calendario,
.calendario,
.calendario-btn {
    grid-column: 1/2;
}
.name-cabina,
.cabina,
.cabina-btn {
    grid-column: 2/3;
}
.name-mia,
.mia,
.mia-btn {
    grid-column: 3/4;
}

.btn {
    /* outline: 2px solid blueviolet; */
    text-decoration: none;
    width: 40%;
    height: 30%;
    background: #8280fa;
    text-align: center;
    padding: 9px 0;
    color: white;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    place-self: center;
    font-weight: 700;
    grid-row: 3/4;
}

/* FOOTER */

footer {
    /* outline: 2px solid salmon; */
    width: 85%;
    height: 30vh;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-evenly; */
    gap: 10px;
    /* background: #6563ff; */

    /* gap: 20px; */
    /* margin: auto; */
}
.social-media {
    /* outline: 2px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.social {
    /* outline: 2px solid blue; */
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.fig {
    /* outline: 2px solid green; */
    width: 50px;
    height: 50px;
}

.img-g {
    width: 100%;
}

.media {
    /* outline: 2px solid green; */
    padding: 0;
    margin: 0;
    color: #6563ff;
}

/* *-----------------------RESPONSIVE--------------------------- */
@media screen and (max-width: 1127px) {
    /* .img-me {
        padding-top: 80px;
    } */
    .container-skills {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .skills {
        grid-column: 3/4;
    }
    .qualif {
        grid-column: 4/6;
    }
    .portfolio {
        grid-column: 6/7;
    }
    .about {
        grid-column: 7/9;
    }
    /* -----------------skill------------------ */
    .img-icon-b {
        /* outline: 2px solid orangered; */
        grid-row: 1/2;
        place-self: center;
    }
    .brackets {
        width: 30%;
        grid-column: 1/2;
    }
    .vector {
        grid-column: 5/6;
    }

    .title-frontend {
        grid-column: 2/4;
    }
    .title-designer {
        grid-column: 6/7;
    }
    .html,
    .js,
    .ps {
        grid-row: 3/4;
    }
    .html-name,
    .js-name,
    .ps-name {
        grid-row: 4/5;
    }
    .css,
    .git,
    .ai {
        grid-row: 5/6;
    }
    .css-name,
    .git-name,
    .ai-name {
        grid-row: 6/7;
    }
    .html,
    .html-name,
    .css,
    .css-name {
        grid-column: 1/3;
    }
    .js,
    .js-name,
    .git,
    .git-name {
        grid-column: 3/4;
    }
    .ps,
    .ps-name,
    .ai,
    .ai-name {
        grid-column: 6/7;
    }
}

@media screen and (max-width: 1053px) {
    .work-education {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    .uady {
        grid-row: 3/6;
        place-self: center;
    }
    .udemy {
        grid-row: 6/7;
    }
}
