@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
}
.section--0 {
    /* background: chartreuse; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 1fr;
    width: 95%;
    height: 100vh;
    margin: 0 auto;
}
.barra {
    /* outline: 2px solid red; */
    width: 95%;
    height: 50px;
    display: grid;
    background: #f5f5f5;
    position: fixed;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 20px 10px -14px rgba(0, 0, 0, 0.13);
}
.me-name {
    padding-left: 30px;
}
.list-menu {
    display: flex;
    gap: 35px;
    padding-right: 30px;
}
.nav__link {
    /* background: greenyellow; */
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: black;
    text-decoration: none;
}
.nav__link:hover {
    color: #6563ff;
}

.presentation {
    grid-column: 1/2;
    grid-row: 2/3;
    /* outline: 2px solid rgb(61, 218, 108); */
    /* background: darkgray; */
    width: 80%;
    height: 40%;
    align-self: center;
    justify-self: center;
}

.hi {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-align: center;
    /* padding-top: 30px; */
    padding-bottom: 11px;
    color: #6563ff;
    /* outline: 2px solid blue; */
}

.text-frontend {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 8px;
    color: dimgrey;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    padding-top: 15px;
    text-align: justify;
    line-height: 30px;
}

/* IMAGEN */
figure {
    grid-column: 2/3;
    grid-row: 2/3;
    /* outline: 2px solid black; */
    width: 60%;
    height: 63%;
    align-self: center;
    justify-self: center;
}

.img-me {
    /* outline: 2px solid crimson; */
    grid-column: 2/3;

    width: 100%;
}

/***************************************************************/
.container {
    /* outline: 2px solid orangered; */
    width: 95%;
    height: 100vh;
    margin: auto;
    /* margin-top: 20px; */
}
.skills-design {
    background: #f5f5f5;
}

.skills-title {
    width: 100%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 15px;
    font-size: 2.5rem;
    color: #6563ff;
}

.container-skills {
    /* outline: 2px solid red; */
    width: 100%;
    height: 100vh;
    /* background: blueviolet; */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.title-name {
    /* outline: 2px solid salmon; */
    color: dimgrey;
    text-align: center;
    padding: 20px 0;
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}

.brackets {
    grid-column: 2/3;
    grid-row: 1/2;
}
.title-frontend {
    grid-column: 3/5;
    grid-row: 1/2;
    /* justify-self: start; */
}
.title-designer {
    grid-column: 8/9;
    grid-row: 1/2;
    /* background: chartreuse; */
}
.vector {
    grid-column: 7/8;
    grid-row: 1/2;
    justify-self: end;
}
.img-icon-b {
    width: 40%;
    height: 40%;
    left: 0;
}
.b-img,
.v-img {
    width: 90%;
}
.img-icon {
    width: 60%;
    height: 70%;
}
.img-i {
    /* outline: 2px solid blue; */
    width: 100%;
}

/* iconos y nombres */
.html,
.js,
.ps,
.ai {
    grid-row: 2/3;
}
.html-name,
.js-name,
.ps-name,
.ai-name {
    grid-row: 3/4;
    /* margin-bottom: 50px; */
}
.css,
.git {
    grid-row: 4/5;
    align-self: start;
}
.css-name,
.git-name {
    grid-row: 4/6;
    /* background: chartreuse; */
    align-self: center;
}
.html,
.html-name,
.css,
.css-name {
    grid-column: 2/3;
}
.js,
.js-name,
.git,
.git-name {
    grid-column: 4/5;
}
.ps,
.ps-name {
    grid-column: 7/8;
}
.ai,
.ai-name {
    grid-column: 9/10;
}

.icon-name {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #292929;
    padding-top: 5px;
}

/* QUALIFICATION */

.qualification {
    padding-bottom: 7px;
}
.journey {
    text-align: center;
    color: #292929;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}
.work-education {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.title-e,
.education1 {
    grid-column: 2/3;
}
.title-w,
.work1 {
    grid-column: 4/5;
}
.artes,
.foto {
    grid-row: 2/3;
}
.uady,
.cabimax {
    grid-row: 4/5;
}
.udemy {
    grid-row: 6/7;
}

h4 {
    text-align: center;
    color: #292929;
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
}
.text-we {
    text-align: center;
    color: #292929;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
}

.year {
    padding-top: 10px;
}

.line {
    background: #6563ff;
    width: 1%;
    height: 80%;
    grid-column: 3/4;
    grid-row: 2/7;
    place-self: center;
}
.clean {
    width: 8%;
    height: 8%;
    grid-column: 3/4;
    place-self: center;
}
.clean-dry {
    width: 100%;
}

.clean1 {
    grid-row: 2/3;
}
.clean2 {
    grid-row: 4/5;
}
.clean3 {
    grid-row: 6/7;
}

/************************************************************/
/** PORTAFOLIO*/
.container-port {
    background: #f5f5f5;
    /* position: relative; */
    /* outline: 2px solid blue; */
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.portfolio-title {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
}

.fig-proyect {
    /* background: chartreuse; */
    width: 50%;
    height: 80%;
    align-self: start;
    /* background: chocolate; */
}

.img-proyect {
    width: 100%;
    /* object-fit: cover; */
}

.name-proyect {
    grid-row: 2/3;
}
.fig-proyect {
    grid-row: 3/4;
}

.name-calendario,
.calendario,
.calendario-btn {
    grid-column: 1/2;
}
.name-cabina,
.cabina,
.cabina-btn {
    grid-column: 2/3;
}
.name-mia,
.mia,
.mia-btn {
    grid-column: 3/4;
}

.btn {
    /* outline: 2px solid blueviolet; */
    text-decoration: none;
    width: 40%;
    height: 30%;
    background: #8280fa;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 9px 0; */
    color: white;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    place-self: center;
    font-weight: 700;
    grid-row: 4/5;
}

/* FOOTER */

.section-social {
    /* width: 500px;
    height: 500px; */
    width: 40px;
    position: fixed;
    top: 45vh;
    right: 20px;
    padding: 0;
    /* background: rgb(136, 43, 43); */
}
.social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fig {
    width: 100%;
    /* height: 100%; */
}

.img-g {
    width: 100%;
}

.up {
    /* position: absolute; */

    width: 36px;
    background: #8280fa;
    border-radius: 50%;

    padding: 5px;
}

/* *-----------------------RESPONSIVE--------------------------- */
@media screen and (max-width: 1127px) {
    /* .img-me {
        padding-top: 80px;
    } */
    .container-skills {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .skills {
        grid-column: 3/4;
    }
    .qualif {
        grid-column: 4/6;
    }
    .portfolio {
        grid-column: 6/7;
    }
    .about {
        grid-column: 7/9;
    }
    /* -----------------skill------------------ */
    .img-icon-b {
        /* outline: 2px solid orangered; */
        grid-row: 1/2;
        place-self: center;
        height: 40%;
        width: 30%;
    }
    .brackets {
        /* height: 40%; */
        grid-column: 1/2;
    }
    .vector {
        /* height: 40%; */
        grid-column: 5/6;
    }
    .b-img,
    .v-img {
        /* outline: 2px solid, black; */
        width: 100%;
    }
    .title-frontend {
        grid-column: 2/4;
    }
    .title-designer {
        grid-column: 6/7;
    }
    .html,
    .js,
    .ps {
        grid-row: 3/4;
    }
    .html-name,
    .js-name,
    .ps-name {
        grid-row: 4/5;
    }
    .css,
    .git,
    .ai {
        grid-row: 5/6;
    }
    .css-name,
    .git-name,
    .ai-name {
        grid-row: 6/7;
    }
    .html,
    .html-name,
    .css,
    .css-name {
        grid-column: 1/3;
    }
    .js,
    .js-name,
    .git,
    .git-name {
        grid-column: 3/5;
    }
    .ps,
    .ps-name,
    .ai,
    .ai-name {
        grid-column: 6/7;
    }
    .css,
    .html,
    .js,
    .git {
        outline: 2px, solid, purple;
        width: 30%;
        height: 75%;
        justify-self: center;
        align-self: center;
    }
}

@media screen and (max-width: 1053px) {
    .work-education {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    .uady {
        grid-row: 3/6;
        place-self: center;
    }
    .udemy {
        grid-row: 6/7;
    }
}

@media screen and (max-width: 375px) {
    .barra {
        /* outline: 2px solid red; */
        width: 95%;
        padding-top: 20px;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        font-size: 0.3rem;
        font-weight: lighter;
    }
    .items {
        font-size: 0.3rem;
        font-weight: 100;
    }

    .me-name {
        display: none; /*elimine el elemento*/
    }
    .container-presentation {
        height: 90vh;
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .qualification {
        /* outline: 2px solid rgb(128, 58, 0); */
        height: 130vh;
    }
    .work-education {
        /* outline: 2px solid green; */
        height: 84%;
    }
    figure {
        height: 34%;
    }

    .hi {
        font-size: 2rem;
    }

    .text-frontend {
        font-size: 1.1rem;
    }

    .text {
        font-size: 0.9rem;
    }
    .container {
        /* outline: 2px solid red; */
        width: 95%;
        /* height: 75vh; */
    }
    .container-skills {
        /* display: grid; */
        /* outline: 2px solid blue; */
        height: 77vh;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .skills-design {
        /* outline: 2px solid purple; */
        height: 90vh;
    }

    .html,
    .html-name,
    .ps,
    .ps-name {
        grid-column: 1/2;
    }
    .img-icon-b {
        width: 30%;
        height: 30%;
        grid-column: 1/2;
    }
    .title-designer,
    .vector {
        grid-row: 4/5;
    }
    .title-frontend {
        grid-column: 2/4;
    }
    .title-designer {
        grid-column: 2/3;
    }
    .js,
    .js-name,
    .ps,
    .ps-name {
        grid-column: 2/3;
    }
    .html,
    .js,
    .css,
    .git {
        width: 60%;
        height: 60%;
        grid-row: 2/3;
    }
    .html-name,
    .js-name,
    .css-name,
    .git-name {
        grid-row: 3/4;
        padding-top: 10px;
        font-size: 0.8rem;
    }
    .ps,
    .ai {
        grid-row: 5/6;
    }
    .ps-name,
    .ai-name {
        padding-top: 10px;
        font-size: 0.8rem;
        grid-row: 6/7;
    }
    .css,
    .css-name,
    .ai,
    .ai-name {
        grid-column: 3/4;
    }
    .git,
    .git-name {
        grid-column: 4/5;
    }

    /* .title-frontend,
    .title-designer */
    .title-name {
        font-size: 1.2rem;
    }
    .line {
        width: 2%;
        height: 75%;
    }
    .clean {
        width: 20%;
        height: 20%;
    }

    .btn {
        /* outline: 2px solid red; */
        width: 30%;
        height: 30%;
        margin: 10px 0;
        padding: 10px 0;
    }
    .container-port {
        /* outline: 2px solid green; */
        margin-top: 0;
        height: 100vh;
    }
    .portfolio-container {
        /* outline: 2px solid red; */
        height: 91vh;
        display: flex;
        flex-direction: column;
    }
    .fig-proyect {
        /* outline: 2px solid red; */
        width: 40%;
        height: 40%;
    }
    .name-proyect {
        /* outline: 2px solid red; */
        padding: 15px 0;
    }
    .calendario,
    .cabina {
        width: 40%;
        height: 40%;
    }
    footer {
        width: 95%;
        /* height: 40vh; */
        display: flex;
        flex-direction: column;
    }
    .social-media {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* height: 50%; */
    }

    .fig {
        width: 100%;
        height: 100%;
    }

    .media {
        /* height: 10%; */
        font-size: 1.3rem;
    }
}
